@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
background-color: rgb(255, 247, 247);
    padding: 50px
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.input-box {
    margin-bottom: 30px;
}